*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* stilizzazione header, navbar */

.contenitore-header{
    background-color: rgba(49,97,224,255);
    display: flex;
    justify-content: center ;
}

.row{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 10px auto;
}

.col-1 {
    display: flex;
    justify-content: flex-start;
    width: 20%;
}

.col-2{
    display: flex;
    width: 60%;
}

.col-3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}

.lista-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

li a {
    color: white;
    text-decoration: none;
}

.col-3 a{
    text-decoration: none;
    background-color: white;
    padding: 7px;
    border-radius: 15px;
    color: rgba(49,97,224,255);
}

/* creazione contenitore sottosezione header */

.sotto-sezione-header{
    display: flex;
    justify-content: center;
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

.contenitore-sotto-sezione {
    width: 70%;
    margin: 70px;
    color: white;
    text-align: center;
}

.sotto-sezione-header .row {
    margin-bottom: 100px;
}

h1 {
    font-size: 50px;
    padding: 20px;
}

p {
    padding: 40px;
    line-height: 25px;
}

.button-1, .button-2 {
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    margin-left: 20px;
}

.button-1 {
    background-color: white;
    color: black;
}

.button-2 {
    background-color: black;
    color: white;
}