*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* stilizzazione header, navbar */

.contenitore-header{
    background-color: rgba(49,97,224,255);
    display: flex;
    justify-content: center ;
}

.row{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 10px auto;
}

.col-1 {
    display: flex;
    justify-content: flex-start;
    width: 20%;
}

.col-2{
    display: flex;
    width: 60%;
}

.col-3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}

.lista-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

li a {
    color: white;
    text-decoration: none;
}

.col-3 a{
    text-decoration: none;
    background-color: white;
    padding: 7px;
    border-radius: 15px;
    color: rgba(49,97,224,255);
}

/* creazione contenitore sottosezione header */

.sotto-sezione-header{
    display: flex;
    justify-content: center;
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

.contenitore-sotto-sezione {
    width: 70%;
    margin: 70px;
    color: white;
    text-align: center;
}

.sotto-sezione-header .row {
    margin-bottom: 100px;
}

h1 {
    font-size: 50px;
    padding: 20px;
}

.sotto-sezione{
    padding: 40px;
    line-height: 25px;
}

.button-1, .button-2, .button-3{
    text-decoration: none;
    padding: 15px;
    border-radius: 30px;
    margin-left: 20px;
}

.button-1 {
    background-color: white;
    color: black;
}

.button-2 {
    background-color: black;
    color: white;
}


/* corpo della pagina */

.contenitore-main{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
}

.background-white {
    display: flex;
    justify-content: center ;
    width: 100%;
}

.background-grey {
    display: flex;
    justify-content: center ;
    background-color: rgb(235, 230, 230);
    width: 100%;
}

.row-corpo {
    display: flex;
    justify-content: center;
    margin: 70px auto;
}

h2 {
    font-size: 40px;
    padding: 10px;
}

.testo-1, .testo-2, .testo-3, .testo-4 {
    font-size: 17px;
    line-height: 25px;
    padding: 10px;
}

.col-img-1, .col-img-2, .col-img-3 {
    display: flex;
    justify-content: center;
    width: 70%;
}

.col-testo-1 , .col-testo-2 , .col-testo-3{
    padding: 20px;
    width: 30%;
}
 
.col-fine-corpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.row-fine-corpo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.stars {
    display: flex;
    align-content: center;
    margin: 0 auto;
 }
h3 {
    font-size: 30px;
}

.button-3 {
    text-align: center;
    background-color: rgba(142,161,225,255);
    color: white;
    width: 20%;
    margin: 20px auto;
}

/* creazione footer */

.footer {
    display: flex;
    justify-content: center ;
    background-color: rgba(35,39,42,255);
    width: 100%;
    flex-wrap: wrap;
}

.row-footer {
    margin: 30px auto;
}
.col-f-1{
    width: 30%;
}

.col-f-2, .col-f-3, .col-f-4, .col-f-5 {
    width: 17.5%;
}

.bandiera {
    width: 20px;
}

.titolo-footer {
    font-size: 25px;
    margin-bottom: 20px;
}

h4 {
    margin-top: 5px;
}

h4 , .titolo-footer {
    color: rgba(114,137,218,255);
}

select {
    background-color:rgba(35,39,42,255);
    color: white;
    border: none;
    font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-bottom: 20px;
}

.icona {
    width: 25px;
    padding: 2px;
}
ul {
    list-style-type: none;
}

li {
    color: white;
    line-height: 25px;
    font-size: 15px;
}

.row-footer2 {
    display: flex;
    justify-content: space-between;
    width: 70%;
    border-top: 2px solid rgba(114,137,218,255);
}

.logo-finale {
    margin: 20px 0;
}

.button-4{
    display: flex;
    text-align: center;
    background-color: rgba(142,161,225,255);
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 30px;
    margin: 15px 0;
}